*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans',sans-serif;
    border-radius: 5px;

}
.checkout-container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100vh;
    /* background-color: blue; */
    margin-top: 5.5%;
    margin-bottom: 3%;
}

.left-container{
    width:60%;
    display:flex;
    flex-direction: column;
    height: 100%;
    /* background-color: gold; */
}

.right-container{
    width: 23%; 
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: darkmagenta; */
    font-size: 0.7em;
      
}
      /* td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
} */
table{
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table-border{
    border: 3px solid #dddddd;
    border-left: 0px;
    border-right: 0px;
   /* text-align: center; */
 
}
.table-border:hover{
    /* border: 3px solid white; */
    background-color: #dddddd;
    cursor: pointer;
}
td,th{
    text-align: left;
}
.bold{
    font-weight: bold;
}
.delete{
    background-color: orangered;
    padding: 1%;
}

.cycle{
    background: url(../Assets/restaurant-mockup1\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 54vh;
    display:flex;
    align-items: flex-end;
    
}

 p>span{
    text-align: center;
}
.security{
    display: flex;
    width: 80%;
    /* background-color: gold; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 1%;
}
.lock > p{
    font-size: 0.7rem;
}
.lock{
    /* background-color: aqua; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lock>img{
    width: 20%;
    /* height: 65%; */
}
.shield{
    margin-left: 3%;
}
.shield > p{
    font-size: 0.7rem;
}

.shield > img{
    width: 22%;
    /* height: 75%; */
}

.note{
    font-weight: bold;
}
.right-container > h3 {
    margin-bottom:3%;
    font-size: 1.5em;
}



.one{
   
    display: flex;
    flex-direction: column;
}
.one > input{
    width: 100%;
    padding: 2% 3%;
    margin-bottom: 5%;
    border-radius: 0%;
    border: 1px solid black;
}
.one>select{
    width:100%;
    padding: 2% 3%;
    margin-bottom: 5%;
    border-radius: 0%;
    border: 1px solid black;
    
}


.two{
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
}
.two>label{
    font-weight: bold;
}

.promo-code{
    display:flex;
    width: 100%;
   
    border: 1px solid black;
    border-radius: 0%;

}

.promo-code > input{
    flex-grow: 8;
    border: none;
    border-radius: 0;
}

.promo-code > input:focus{
    outline: none;
}

.promo-code > button{
    width: 28%;
    padding: 3%;
    border: none;
    background-color: #D02017;
    border-radius: 0%;
    margin: 0%;
}

.order-summary{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    
}

.order-summary > h3 {
    margin-bottom:3%;
    margin-top: 1%;
    font-size: 1.5em;
    font-weight: bold;
}

.order{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 3%;
}


hr{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
    /* color: #D02017; */
    
}

.total{
    font-size: 1.3rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin-top: 2%;
    
    
}
.button >a{
    margin-right: 10%;
    width: 70%;
    height: 100%;
    padding: 5%;
    background-color:  #D02017;
    color: white;
    text-align: center;
    font-size: 1rem;
    border:0px  #D02017;
    
}

button>span{
    margin-right: 7px;
}