@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  margin-top: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

/* HEADER SECTION */
header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fcf7ee;
}

.navlink {
  padding-right: 40px;
  color: #fcf7ee;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}

.navlink:hover {
  color: #d02017;
  transition: 0.5s;
  text-decoration: underline;
}

button {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: #fcf7ee;
}

svg {
  color: #fcf7ee;
  display: flex;
  margin-top: 6px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  font-weight: bold;
}

.call-order {
  display: flex;
  font-size: 18px;
  padding-right: 100px;
  color: #fcf7ee;
}

#number {
  font-weight: bold;
}

.navlinks-wrapper {
  display: flex;
}

.logo {
  margin-left: 100px;
  width: 15%;
}

.spacer {
  margin-top: 80px;
  height: 40px;
}

/* INTRO SECTION */
.intro {
  display: flex;
  justify-content: space-between;
  height: 700px;
  width: 100%;
  background-color: #fbfbfb;
}

.init-color {
  margin-top: 500px;
  margin-left: 0%;
  width: 87px;
  height: 114px;
  background-color: #ff5533;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform: skewY(-10deg);
  position: absolute;
}

.intro-left-wrapper {
  padding-left: 10%;
}

.intro-left {
  margin-left: 20%;
}

.color1 {
  margin-top: 20px;
  margin-left: 80%;
  width: 61px;
  height: 80px;
  background-color: #ffaa33;
  border-radius: 16px;
  transform: skewY(-10deg);
}

#p1 {
  font-weight: 400;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  line-height: 32px;
}

#p-head {
  font-size: 60px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  line-height: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#search-field {
  margin-top: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.12);
  height: 56px;
  width: 484px;
  padding-left: 25px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

#btn {
  position: absolute;
  background-color: #ff5533;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 15px;
  padding: 16px 40px;
  border-radius: 5px;
  height: 56px;
  width: 134px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}

#btn:hover {
  opacity: 0.8;
  color: #000;
  background-color: #ffaa33;
}

.intro-right {
  position: relative;
}

.intro-right img {
  left: 25px;
  margin-right: 25px;
}

.img1 {
  margin-left: -85px;
  margin-right: -20px;
  width: 80%;
  height: 400px;
  border-radius: 32px;
  margin-top: 150px;
  transform: skewY(-4deg);
}

.img2 {
  margin-top: 25px;
  width: 400px;
  height: 400px;
  box-shadow: 0px 24px 64px rgba(87, 83, 83, 0.25);
  border-radius: 32px;
  position: absolute;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  transform: skewY(-7deg);
}

.p-text {
  color: #808080;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  line-height: 35px;
}

/* PROMO SECTION */
.promo-text {
  margin-top: 60px;
  text-align: center;
}

.p-title {
  font-size: 48px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 30px;
}

.promo-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  justify-items: flex-start;
}

.promo-card {
  margin-right: 30px;
}

.floater {
  margin-top: 15px;
  margin-left: 20px;
  position: absolute;
  background-color: #FFD4CC;
  border-radius: 8px;
  width: 79px;
height: 41px;
}

.floater p {
  text-align: center;
  padding-top: 10px;
  color: #ff5533;
}

.promo-card img {
  border-radius: 8px;
  width: 296px;
  height: 296px;
  margin-bottom: 0px;
}

.promo-card-content {
  background-color: #fbfbfb;
  padding-top: 20px;
  padding-left: 15px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 20px;
  margin-top: 0;
}

.p-green-wrapper {
  display: flex;
}

.fa {
  color: #30ac5a;
  margin-top: 5px;
  margin-right: 15px;
}
/* .p-green-wrapper img {
  
  color: #30ac5a;
  fill-opacity: #30ac5a;
} */

.p-green {
  color: #30ac5a;
  line-height: 27px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.p-content-title {
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  line-height: 32px;
  padding-top: 7px;
}

.p-fast-food {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ff5533;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  line-height: 27px;
}

/* FOOD CATEGORIES SECTION */
.food-card {
  display: flex;
  justify-content: center;
}

.food-wrapper {
  padding-left: 20px;
}

.food-wrapper p {
  position: absolute;
  color: #ff5533;
  margin-top: -100px;
}

#p-western {
  position: absolute;
  margin-top: -3.5%;
  margin-left: 5%; 
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#p-bakery {
  margin-top: -285px;
  margin-left: 50px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#p-beverage {
  margin-top: -225px;
  margin-left: 10px;
  color: #2E2E2E;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.food-wrapper img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}

#chine-img {
  background-color: #ebebeb;
}

/* TIIDE-CUISINE SECTION */
.tiide-cuisine {
  background-color: #111111;
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}

.tiide-cuisine img {
  padding-top: 50px;
}

.color {
  margin-top: 40px;
  width: 61px;
  height: 80px;
  background-color: #ffaa33;
  border-radius: 16px;
  transform: skewY(-10deg);
}

.cuisine {
  color: #ffffff;
  padding-top: 50px;
}

#p2 {
  font-size: 35px;
}

/* FOOTER SECTION */
.container {
  max-width: 1170px;
  margin: auto;
  margin-top: 70px;
}

.footer {
  background-color: black;
  padding: 5px 0;
  height: 300px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  list-style: none;
  text-decoration: none;
}

.footer-col ul li a {
  text-decoration: none;
  margin-bottom: 5px;
  color: #fcf7ee;
  padding-left: 8px;
}

.footer-col ul li a:hover {
  color: #d02017;
  margin-right: 8px;
}

li {
  margin-bottom: 15px;
  text-align: center;
}

h4 {
  text-align: center;
}

.footer-col {
  width: 25%;
  padding: 0 10px;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #fcf7ee;
  font-weight: 500;
  position: relative;
  align-items: center;
}

.contact {
  display: flex;
}

.contacts h4:hover {
  margin-right: 8px;
  color: #d02017;
  cursor: pointer;
}

.footer-col {
  margin-top: 5px;
}

svg {
  margin-right: 5px;
  color: #fcf7ee;
}

.underline {
  text-decoration: underline 1.5px solid red;
  color: #d02017;
  margin-bottom: 30px;
}

#copyright {
  text-align: center;
  margin-top: 0.5rem;
  color: white;
}
