@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans" sans-serif;
}

body {
  background-image: url(../Assets/restaurant-mockup1\ 1.png);
  background-position: center;
  background-color: #f5d7ce;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 10px; */
  font-family: Gilroy;
  /* padding: 0; */
  box-sizing: border-box;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
}

/* Header styling */

header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fcf7ee;
}
.navlink {
  padding-right: 16px;
  color: #fcf7ee;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}
.navlink:hover {
  color: #d02017;
  transition: 0.5s;
  text-decoration: underline;
}
button {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: #fcf7ee;
}
svg {
  color: #fcf7ee;
  display: flex;
  margin-top: 6px;
  margin-left: 6px;
  height: 30px;
  width: 30px;
  font-weight: bold;
}
.call-order {
  display: flex;
  font-size: 18px;
  padding-right: 100px;
  color: #fcf7ee;
}
#number {
  font-weight: bold;
}
.navlinks-wrapper {
  display: flex;
}

.logo {
  margin-left: 70px;
  width: 15%;
}
/* Header stop  */

/* form section*/

.container {
  width: 90%;
  height: 590px;
  margin: 90px auto;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 40px;
  left: -6822px;
}
.form-left {
  width: 40%;
  height: 114%;
  margin-right: -30px;
  margin-top: -30px;
  padding: 20px 0;
  margin-bottom: -250px;
  background-color: #f5d7ce;
  border-radius: 20px;
}
.container .form-left img {
  margin-left: -260px;
  padding: 0 0 0 -90px;
  width: 596px;
  height: 636px;
}
.container form {
  width: 100%;
  text-align: left;
}
.container form img {
  width: 35px;
  left: 410.29833984375px;
  top: 273.52978515625px;
  border-radius: 0px;
}
.container form h2 {
  height: 60.30388641357422px;
  width: 125.85159301757812px;
  left: 419.71728515625px;
  top: 363.137939453125px;
  border-radius: nullpx;
  font-family: Gilroy;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.container form label {
  text-align: left;
  left: 419.71728515625px;
  height: 17px;
  width: 90px;
  color: #414042;
  left: 418px;
  top: 460px;
  border-radius: nullpx;
  font-family: Arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.container form input {
  width: 50%;
  padding: 6px;
  margin-right: 20px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 2px;
  box-shadow: 0px 2px 20px rgba(255, 255, 255, 1);
  left: 419.71728515625px;
  top: 491.611328125px;
  border-radius: 40px;
  border: 1px solid #bcbec0;
}
.container form #login-btn {
  width: 70px;
  background: #d02017;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  transition: 0.2s;
  transition-property: color, transform;
}
.container form #login-btn:hover {
  background-color: #f5d7ce;
  transform: scale(1.2);
}
.container form p {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}
.container form .social-log {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 22px;
  margin-bottom: 13px;
}
.container form .social-log ul {
  display: flex;
  border-radius: 22px;
  text-decoration: none;
  list-style-type: none;
}
.container form .social-log ul li {
  color: #f5d7ce;
  width: 43px;
  height: 30px;
  border-radius: 40px;
  margin: 5px;
  background: rgba(255, 255, 255, 1);
}
.container form .social-log img {
  padding: 6px;
  width: 40px;
  height: 30px;
}
.container form .account .free a {
  margin: 5px;
  background: rgba(255, 255, 255, 1);
  color: #414042;
  text-decoration: none;
  border-radius: 10px;
  padding: 4px;
  transition: 0.2s;
  transition-property: color, transform;
}
.container form .account .free a:hover {
  background-color: #d02017;
  transform: scale(1.3);
  color: #ffffff;
}
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer {
  background-color: black;
  padding: 5px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul {
  list-style: none;
  text-decoration: none;
}
.footer-col ul li a {
  text-decoration: none;
  margin-bottom: 5px;
  color: #fcf7ee;
  padding-left: 8px;
}
.footer-col ul li a:hover {
  color: #d02017;
  margin-right: 8px;
}
a {
  text-decoration: none;
}
li {
  margin-bottom: 15px;
  text-align: center;
}
h4 {
  text-align: center;
}
.footer-col {
  width: 25%;
  padding: 0 10px;
}
.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #fcf7ee;
  font-weight: 500;
  position: relative;
  align-items: center;
}

.contact {
  display: flex;
}
.contacts h4:hover {
  margin-right: 8px;
  color: #d02017;
  cursor: pointer;
}
.footer-col {
  margin-top: 5px;
}
svg {
  margin-right: 5px;
  color: #fcf7ee;
}
.underline {
  text-decoration: underline 1.5px solid red;
  color: #d02017;
  margin-bottom: 30px;
}
#copyright {
  text-align: center;
  margin-top: 0.5rem;
  color: white;
}
