@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


body{
box-sizing: border-box;
margin: 0;
padding: 0;
background: #fff;
width:100%;
font-family: "DM Sans", sans-serif;
font-size: 16px;
/* overflow-x: hidden;  */

}
    /* header  section*/
header{
    display: flex;
    /* position: absolute;  */
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    
    
    
}
nav{
    
    display: flex;
    
    align-items: center;
    text-align: center;
    
    
    
    color: #FCF7EE;
    /* margin-right: 120px;
    margin-left: 120px;
     */
    
}
.navlink {
    
    padding-right: 40px;
    color: #FCF7EE;
    font-size:  20px;
    font-weight: bold;
    justify-content: space-between;
}
.navlink:hover{
    color: #d02017;
    transition: 0.5s;
    text-decoration: underline;
}
button{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #FCF7EE;
}
.call-order svg {
    color: white;
    display: flex;
    margin-top: 46px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    font-weight: bold;

}
.call-order{
    display: flex;
    font-size: 18px;
    padding-right: 100px;
    color: #FCF7EE;
      
}
#number {

    font-weight: bold;
}
.navlinks-wrapper{
      
    display: flex;  
    
}
.navlinks-wrapper a {
    text-decoration: none;
}

.logo{
    margin-left: 100px ;
    width: 15%;
}

   

.menu,
.menu-category {
    margin-right: 10%;
    margin-left: 10%;
}
main {
    
    display: flex;
    flex-direction: column;
   
}


main > div{
   padding: 0 102px; 
}  

h1{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 64px;
color: #2E2E2E;
}
.menu{
font-family: 'DM Sans';
font-style: normal;
font-size: 24px;
line-height: 32px; 
padding: 0;

}
.menu-category,
.menu-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding-inline-start: 0px;
}
.menu >.menu-list {
    margin-inline-start: 0;
}
.menu a{
    text-decoration: none;
    color: #2E2E2E;
}
ul{
    list-style-type: none;
    
}

.menu-category svg{
    color: #FF5533;
    border-radius: 20px solid;
}
.card-wrapper{
    display: flex;
    gap: 16px;

   
}
.card {
    position: relative;
    background-color:#FBFBFB;
    height: 430px;
    border-radius: 8px;
    

}
.AAA img{
    border-radius: 8px;
}
.BBB {
    font-weight: 700;
    font-size: 24px;
    height: 32px;
    display: flex;
    justify-content: center;
    
}
.CCC {
    display: flex;
    gap: 10px;
    margin-top: 48px; 
}
.product-btn-page-wrapper {
    text-align: center;
    margin-top: 96px;
}
.product-page-btn {
    background-color: #FF5533;
    width: 167px;
    height: 56px;
    padding: 8px 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;

}
.product-page-btn:hover {
    transform: scale(1.1) translateY(-2px);
    box-shadow: #2E2E2E;
}
p a{
    text-decoration: none;
    color: white;
}
.price{
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-left: 10px;
    color: #FFAA33;
}




.add-box {

    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    border-radius: 8px;
    height: 40px;
    background-color:#FF5533;

}
.add-box p{
    color: #fff;
}




.add-box:hover{
    cursor: pointer;
    transform: scale(1.1) translateY(-2px);
    
}
.price :hover{
    cursor: pointer;
}


/* FOOOTER -SECTION */

.footer {

    height: 350px;
    margin-top: 35px;
    background-color: black;
    /* padding: 5px 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    /* font-family: "DM Sans" sans-serif; */
    
}
.container {
    max-width: 1170px;
    margin: auto;
}
/* .footer {
    background-color: black;
    padding: 5px 0;
} */
.footer .row {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer ul{
    list-style: none;
    text-decoration: none;


}
.footer-col ul li a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #FCF7EE;
    padding-left: 8px;

}
.footer-col ul li a:hover{
    
    color: #d02017;
    margin-right: 8px;
}
.footer-col ul li{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    
}
/* h4{
    text-align: center;
} */
.footer-col{
    width: 25%;
    padding: 0 10px;
    
}
.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
    color: #FCF7EE;
    font-weight: 500;
    position: relative;
    align-items: center;
}

.contacts >.contact {
    display: flex;   
}
.contacts h4:hover{
    margin-right: 8px;
    color: #d02017;
    cursor: pointer;

}
.footer-col{
    margin-top: 5px;
}
.footer svg{
    margin-top: 25px;
    margin-right: 5px;
    color: white;
}
.underline{
    margin-left: 50px;
    text-decoration: underline 1.5px solid red;
    color: #d02017;
    margin-top: 50px;
    margin-bottom: 30px;
}
#copyright{
   text-align: center;
    margin-top: 0.5rem;
    color: white;
}





